*{
    margin: 0;
    padding: 0;
}

.hero{
    background-image: url('img/img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: rgb(255, 0, 0);
    overflow: hidden;
}

.section{
    margin-top: 15px;
    width: 100%;
    overflow: hidden;

}

.project{
    float: left;
    height: 200px;
    width: 32%;
    margin-right: 10px;
    margin-left: 2px;
    margin-bottom: 10px;

    border: 1px solid black
     
}

.footer{
    height: 150px;
    background-color: black;
    color: white;
    margin-top: 5px;

}

.footer-item{
    width: 33%;
    float:left

}
 .link{
    text-decoration: none;
    color:beige;
    display: block;
 }

 /* css for device responsive */



 @media screen and (max-width: 1045px) { 

    .hero{

        height: 300px;
    }
    }

    @media screen and (max-width: 530px) { 

        .hero{
    
            height: 200px;
        }
        }



 @media screen and (max-width: 1049px) {

    .project{
        width: 31.8%;
    }
 }

 @media screen and (max-width: 913px) { 

    .project{
        width: 31.5%;
    }
 }

 @media screen and (max-width: 763px) { 

    .project{
        width: 48%;
    }
 }

 @media screen and (max-width: 699px) { 

    .project{
        width: 47%;
    }
 }

 @media screen and (max-width: 466px) { 

    .project{
        width: 98%;
    }
 }


